examples/2-Discover-Write.json
[
  {
    "id": "25ee9078510fe398",
    "type": "Bacnet-Gateway",
    "z": "f1fc21f44027188c",
    "name": "",
    "local_device_address": "",
    "local_interface_name": "",
    "apduTimeout": 6000,
    "roundDecimal": 2,
    "local_device_port": 47808,
    "apduSize": "5",
    "maxSegments": "0x50",
    "retries": "5",
    "broadCastAddr": "255.255.255.255",
    "toLogIam": false,
    "discover_polling_schedule": "900",
    "discover_polling_schedule_value": "15",
    "discover_polling_schedule_options": "Minutes",
    "deviceId": 817001,
    "logErrorToConsole": false,
    "serverEnabled": true,
    "device_read_schedule": "900",
    "device_read_schedule_value": "15",
    "device_read_schedule_options": "Minutes",
    "deviceRangeRegisters": [
      {
        "enabled": true,
        "start": "0",
        "end": "4194303"
      }
    ],
    "portRangeRegisters": [
      {
        "enabled": true,
        "start": "47808",
        "end": "47808"
      }
    ],
    "cacheFileEnabled": true,
    "sanitise_device_schedule": "3600",
    "sanitise_device_schedule_value": "1",
    "sanitise_device_schedule_options": "Hours",
    "x": 840,
    "y": 420,
    "wires": [
      [
        "f41ef6737463370e"
      ]
    ]
  },
  {
    "id": "0f90856ca1808ee7",
    "type": "Bitpool-Inject",
    "z": "f1fc21f44027188c",
    "name": "Discover",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "doPoll": false,
    "doDiscover": true,
    "json": false,
    "mqtt": false,
    "pointJson": true,
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 660,
    "y": 420,
    "wires": [
      [
        "25ee9078510fe398"
      ]
    ]
  },
  {
    "id": "c7f1aa7764f29aa1",
    "type": "Bacnet-Write",
    "z": "f1fc21f44027188c",
    "name": "",
    "applicationTag": "4",
    "priority": "16",
    "pointsToWrite": [],
    "writeDevices": [],
    "hiddenDeployToggle": false,
    "prevHiddenToggleState": false,
    "x": 670,
    "y": 500,
    "wires": [
      [
        "25ee9078510fe398"
      ]
    ]
  },
  {
    "id": "c97fbed9db70de7f",
    "type": "Bitpool-Inject",
    "z": "f1fc21f44027188c",
    "name": "Poll",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "doPoll": true,
    "doDiscover": false,
    "json": false,
    "mqtt": false,
    "pointJson": true,
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 490,
    "y": 500,
    "wires": [
      [
        "c7f1aa7764f29aa1"
      ]
    ]
  },
  {
    "id": "f41ef6737463370e",
    "type": "debug",
    "z": "f1fc21f44027188c",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1040,
    "y": 420,
    "wires": []
  }
]