examples/3-Discover-Read-Write.json
[{"id":"b3017f8f9fc73f8c","type":"tab","label":"3-Discover-Read-Write","disabled":false,"info":"","env":[]},{"id":"697c8ed4b294882c","type":"Bacnet-Gateway","z":"b3017f8f9fc73f8c","name":"","local_device_address":"","apduTimeout":6000,"roundDecimal":2,"local_device_port":47808,"apduSize":"5","maxSegments":"0x50","broadCastAddr":"255.255.255.255","toLogIam":true,"discover_polling_schedule":"60","discover_polling_schedule_value":"1","discover_polling_schedule_options":"Minutes","x":540,"y":300,"wires":[["d78c0f4d2fb9befa"]]},{"id":"d129d123e7eedbca","type":"Bitpool-Inject","z":"b3017f8f9fc73f8c","name":"Discover","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","doPoll":false,"doDiscover":true,"x":360,"y":300,"wires":[["697c8ed4b294882c"]]},{"id":"2dc599ab69789b27","type":"Bitpool-Inject","z":"b3017f8f9fc73f8c","name":"Poll","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","doPoll":true,"doDiscover":false,"x":210,"y":380,"wires":[["ddd7b312831cf439"]]},{"id":"d78c0f4d2fb9befa","type":"debug","z":"b3017f8f9fc73f8c","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":300,"wires":[]},{"id":"ddd7b312831cf439","type":"Bacnet-Write","z":"b3017f8f9fc73f8c","name":"","applicationTag":"4","priority":"16","pointsToWrite":[],"writeDevices":[],"hiddenDeployToggle":false,"prevHiddenToggleState":false,"x":370,"y":380,"wires":[["697c8ed4b294882c"]]},{"id":"e7ae4def79edb9b3","type":"Bacnet-Discovery","z":"b3017f8f9fc73f8c","name":"","events":true,"json":true,"mqtt":false,"hiddenDeployToggle":false,"prevHiddenToggleState":false,"roundDecimal":2,"pointsToRead":{},"readDevices":[],"object_property_presentVal":true,"object_property_objDescription":false,"object_property_statusFlag":false,"object_property_reliability":false,"object_property_outOfService":false,"object_property_units":false,"x":370,"y":240,"wires":[["697c8ed4b294882c"]]},{"id":"9f62e732434757e0","type":"Bitpool-Inject","z":"b3017f8f9fc73f8c","name":"Poll","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","doPoll":true,"doDiscover":false,"x":210,"y":240,"wires":[["e7ae4def79edb9b3"]]}]