examples/4-Inspector.json
[
  {
    "id": "1617c14c07ac6e16",
    "type": "Bacnet-Gateway",
    "z": "f1fc21f44027188c",
    "name": "",
    "local_device_address": "",
    "local_interface_name": "",
    "apduTimeout": 6000,
    "roundDecimal": 2,
    "local_device_port": 47808,
    "apduSize": "5",
    "maxSegments": "0x50",
    "retries": "5",
    "broadCastAddr": "255.255.255.255",
    "toLogIam": false,
    "discover_polling_schedule": "900",
    "discover_polling_schedule_value": "15",
    "discover_polling_schedule_options": "Minutes",
    "deviceId": 817001,
    "logErrorToConsole": false,
    "serverEnabled": true,
    "device_read_schedule": "900",
    "device_read_schedule_value": "15",
    "device_read_schedule_options": "Minutes",
    "deviceRangeRegisters": [
      {
        "enabled": true,
        "start": "0",
        "end": "4194303"
      }
    ],
    "portRangeRegisters": [
      {
        "enabled": true,
        "start": "47808",
        "end": "47808"
      }
    ],
    "cacheFileEnabled": true,
    "sanitise_device_schedule": "3600",
    "sanitise_device_schedule_value": "1",
    "sanitise_device_schedule_options": "Hours",
    "x": 840,
    "y": 440,
    "wires": [
      [
        "8db122ce13172090",
        "df826da5f464306c"
      ]
    ]
  },
  {
    "id": "3dbfbb72574a201c",
    "type": "Bacnet-Discovery",
    "z": "f1fc21f44027188c",
    "name": "",
    "events": true,
    "json": true,
    "mqtt": false,
    "pointJson": false,
    "hiddenDeployToggle": false,
    "prevHiddenToggleState": false,
    "roundDecimal": 2,
    "pointsToRead": {},
    "readDevices": [],
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 670,
    "y": 360,
    "wires": [
      [
        "1617c14c07ac6e16",
        "df826da5f464306c"
      ]
    ]
  },
  {
    "id": "ae5c90c50e252352",
    "type": "Bacnet-Write",
    "z": "f1fc21f44027188c",
    "name": "",
    "applicationTag": "4",
    "priority": "16",
    "pointsToWrite": [],
    "writeDevices": [],
    "hiddenDeployToggle": false,
    "prevHiddenToggleState": false,
    "x": 670,
    "y": 520,
    "wires": [
      [
        "1617c14c07ac6e16"
      ]
    ]
  },
  {
    "id": "e4837a22dc540343",
    "type": "Bitpool-Inject",
    "z": "f1fc21f44027188c",
    "name": "Discover",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "doPoll": false,
    "doDiscover": true,
    "json": false,
    "mqtt": false,
    "pointJson": true,
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 660,
    "y": 440,
    "wires": [
      [
        "1617c14c07ac6e16"
      ]
    ]
  },
  {
    "id": "67bd88188ddd1166",
    "type": "Bitpool-Inject",
    "z": "f1fc21f44027188c",
    "name": "Poll",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "doPoll": true,
    "doDiscover": false,
    "json": false,
    "mqtt": false,
    "pointJson": true,
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 490,
    "y": 520,
    "wires": [
      [
        "ae5c90c50e252352"
      ]
    ]
  },
  {
    "id": "6d1719920e0c3838",
    "type": "Bitpool-Inject",
    "z": "f1fc21f44027188c",
    "name": "Poll",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "doPoll": true,
    "doDiscover": false,
    "json": false,
    "mqtt": false,
    "pointJson": true,
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 490,
    "y": 360,
    "wires": [
      [
        "3dbfbb72574a201c"
      ]
    ]
  },
  {
    "id": "8db122ce13172090",
    "type": "debug",
    "z": "f1fc21f44027188c",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1040,
    "y": 440,
    "wires": []
  },
  {
    "id": "df826da5f464306c",
    "type": "Bacnet-Inspector",
    "z": "f1fc21f44027188c",
    "name": "",
    "siteName": "INSPECTOR_SITE_NAME",
    "totalUniqueReadCount": 0,
    "x": 1070,
    "y": 360,
    "wires": [
      [
        "6eeed73a4976730b"
      ]
    ]
  },
  {
    "id": "6eeed73a4976730b",
    "type": "debug",
    "z": "f1fc21f44027188c",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 360,
    "wires": []
  },
  {
    "id": "70b41e715ed44733",
    "type": "Bitpool-Inject",
    "z": "f1fc21f44027188c",
    "name": "sendMqttStats",
    "props": [
      {
        "p": "type",
        "v": "sendMqttStats",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "doPoll": true,
    "doDiscover": false,
    "json": false,
    "mqtt": false,
    "pointJson": true,
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 870,
    "y": 240,
    "wires": [
      [
        "df826da5f464306c"
      ]
    ]
  },
  {
    "id": "031ec232c48e17de",
    "type": "Bitpool-Inject",
    "z": "f1fc21f44027188c",
    "name": "getBacnetStats",
    "props": [
      {
        "p": "type",
        "v": "getBacnetStats",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "doPoll": true,
    "doDiscover": false,
    "json": false,
    "mqtt": false,
    "pointJson": true,
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 860,
    "y": 300,
    "wires": [
      [
        "df826da5f464306c"
      ]
    ]
  },
  {
    "id": "74e1dd56bce21e2f",
    "type": "Bitpool-Inject",
    "z": "f1fc21f44027188c",
    "name": "reset",
    "props": [
      {
        "p": "reset",
        "v": "true",
        "vt": "bool"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "doPoll": true,
    "doDiscover": false,
    "json": false,
    "mqtt": false,
    "pointJson": true,
    "object_property_simplePayload": false,
    "object_property_simpleWithStatus": false,
    "object_property_fullObject": true,
    "useDeviceName": true,
    "x": 890,
    "y": 180,
    "wires": [
      [
        "df826da5f464306c"
      ]
    ]
  }
]